body {
    background-image: url('assets/signIn&signUp template.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.playerProfileImage1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    background-image: url('assets/Ellipse1.png'), url('assets/player1.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.playerProfileImage2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    background-image: url('assets/Ellipse2.png'), url('assets/player2.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.playerRank1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('assets/rankBadge1.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.playerRank2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('assets/rankBadge2.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.playerName {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb(91, 219, 91);
    margin-bottom: 10px;
}

.playerStats {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.statItem {
    margin-bottom: 10px;
}

.statItem span {
    display: block;
}

.vsPng {
    width: 100px;
    height: 100px;
    background-image: url('assets/VS.png');
    background-size: cover;
    background-position: center;
}
