# Node.js
Ettalha/node_modules/
Ettalha/npm-debug.log
Ettalha/yarn-error.log

# Express 
Ettalha/.env
Ettalha/.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Express
.env
.DS_Store

#django
