*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background-image:
        linear-gradient(130deg, rgba(29,41,72,1) 10%, rgba(20,29,51,1) 25%, rgba(15,22,40,1) 38%, rgba(5,10,22,1) 100%); */
    background-image: url("../assets/bg_img.png");
    background-size:cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-position: center;
        /* /* width: 100vw; */
    /* height: 100vh;  */
    overflow: hidden;
}

/*
    background: rgb(244,63,233);
    background: linear-gradient(90deg, rgba(244,63,233,1) 0%, rgba(4,217,139,1) 100%);
    background-color: #1BA7A0
*/

/* chat side-bar style */




.sidebar_wrapper{
    /* position: relative; */
    border: 1px solid #778FB8;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(27, 167, 160, 0.05);
    height: 90vh;
}

/* .sidebar_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    background-color: #318a86;
    opacity: 0.1;
    z-index: -1;
} */

.sidebar_wrapper{
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: fit-content;
    height: 90vh!important;
}

.icon_side_bar{
    width: 37px;
    margin: 20px;
    color: white;
    text-align: center;
}

.logout_logo_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logout_logo_wrapper .icon_side_bar:hover{
    cursor: pointer;
    color: #1BA7A0;
}

.dash_logos_wrapper{
    display: grid;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.dash_logos_wrapper a.active{
    border-left: 2px solid #1BA7A0;
}

.dash_logos_wrapper a.active .icon_side_bar{
    color: #1BA7A0;
    filter: drop-shadow(0px 0px 5px #1BA7A0);
}

.body_wrapper{

    display: grid;
    margin-top: 1rem;
    padding: 30px 45px;
    grid-template-columns: .01fr 1fr 1fr;
    grid-template-rows: .01fr 6fr ;
    grid-template-areas:
        'sidebar nav nav'
        'sidebar main main';
    grid-gap: 1rem;
    height: 100vh;
}

.item{
    background-color: #4b5e8d;
}

.item-1{
    grid-area: sidebar;
}
.item-2{
    grid-area: nav;

}
.item-3{
    grid-area: main;
}



.chat_notification_bar_wrapper
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.chat_notification_bar_wrapper > div > input{
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 1px solid #778FB8;
    width: 350px;
    height: 45px;
    padding: 0 15px;
    border-radius: 20px;
    margin: 0 180px 0 0;
}
/*
.second_content_chat_wrapper{
    width: 100%;
    height: 90vh;
    justify-content: space-between;
} */

@font-face {
    font-family: "Actor";
    src: url("../assets/fonts/Actor-Regular.ttf");
}

.chat_wrapper_{
    height: 85vh;
    font-family: "Actor";
}
/* end chat side-bar style */


.first_profile_wrapper_chat{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.pdp_warpper{
    display: flex;
    align-items: center;
}

.txt_one{
    color: white;
    font-size: 22px;
    padding: 0 25px;
}

.pfp_logo{
    width: 80px;
    object-fit: contain;
}

.chat_wrapper_{
    border: 1px solid #778FB8;
    border-radius: 15px;
    margin: 25px 0 0 25px;
}

.first_profile_wrapper_chat{
    width: fit-content;
    width: 100%;

}

.chat_bulle_wrapper {
    display: flex;
}

.first_section_wrapper_chat{
    width: 20%;
    border-right: 1px solid #778FB8;
    height: 100%;
}

.chat_bulles_wrapper_{
    padding: 20px 25px;
}

.chat_bulle_wrapper{
    display: flex;
    align-items: center;
}

.pdp_logo_chat{
    width: 60px;
}

.data_chat_bulle_wrapper{
    color: white;
    font-size: 18px;
}

.content_bulle_chat{
    color: gray;
    font-size: 14px;
}

.data_chat_bulle_wrapper{
    padding: 0 0 0 15px;
}

.chat_bulles_wrapper_{
    /* background-color: #1BA7A0; */
    border-top: 1px solid #4b5e8d;
}

.last_chat{
    border-bottom: 1px solid #778FB8;
}

.chat_bulles_wrapper_:hover{
    background-color: #1BA7A0;
    cursor: pointer;
}



.first_section_wrapper_chat{
    position: relative;
    backdrop-filter: blur(10px);
    border-radius: 18px 0px 0 18px;

}

.first_section_wrapper_chat::after {
    content: "";
    border-radius: 18px 0px 0 18px ;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1BA7A0;
    opacity: 0.10;
    z-index: -1;
}

.chat_wrapper_,
.first_wrapper_info_user_chat_wrapper,
.first_side_wrapper_con_chat__{
    display: flex;
}

.info_logo_{
    width: 22px;
}

.first_wrapper_info_user_chat_wrapper{
    justify-content: space-between;
}

.second_section_wrapper_chat{
    width: 60%;
}

.first_wrapper_info_user_chat_wrapper{
    padding: 25px 35px;
}

.first_side_wrapper_con_chat__{
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos_con_user_wrapper{
    padding:  0 15px;
}

.status_user_con{
    color: #A5A5A5;
    font-size: 13px;
}

.name_user_con{
    color: white;
    padding: 0 0 5px 0;
}


.first_wrapper_info_user_chat_wrapper{
    border-bottom: 1px solid #778FB8;
    height: 131px;
    position: relative;
    backdrop-filter: blur(10px);
    align-items: center;
}

.third_section_wrapper_chat{
    border-bottom: 1px solid #778FB8;
    position: relative;
    backdrop-filter: blur(10px);
    border-radius: 0px 15px 15px 0px;
}

.chat_container_conv__{
    border-bottom: 1px solid #778FB8;
    position: relative;
    backdrop-filter: blur(10px);
}

.first_wrapper_info_user_chat_wrapper::after,
.third_section_wrapper_chat::after,
.chat_container_conv__::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #318a86;
    opacity: 0.10;
    z-index: -1;
}


.chat_container_conv__::after{
    background-color: #000000!important;
}
.logo_chat_user{
    width: 70px;
    object-fit: cover;
}

.send_msg_input{
    background-color: #0000;
    border-radius: 18px;
    border: none;
    width: 70%;
    height: 50px;
    box-shadow: 1px 1px 5px #778FB8;
}

.message_user_content__{
    background-color: #808080;
    width: fit-content;
    padding: 10px 15px;
    color: white;
    border-radius: 12px;
}

.message_container__{
    margin: 8px;
}

.chat_container_conv__{
    padding: 25px;
}

.chat_container_conv__{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    height: 100%;
}

.con_infos_wrapper_{
    display: flex;
    flex-direction: column;
}

.second_section_wrapper_chat{
    height: 100%;
}

.con_infos_wrapper_{
    height: 100%;
}

.input_conv_container__chat{
    text-align: center;
}

.send_msg_input{
    padding: 0 25px;
    font-size: 19px;
    color: gray;
}

.second_msg_user > .message_user_container__ > .message_user_content__{
    background-color: #04D98B!important;
}

.second_msg_user{
    display: flex;
    justify-content: flex-end;
}

.white{
    color: white;
}

.gray{
    color: gray;
}

.pdp_img_a{
    width: 150px;
    object-fit: cover;
    border: 4px solid gray;
    border-radius: 50%;
}

.infos_container_third_sec_chat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
    border-bottom: 1px solid #778FB8;
}

.third_section_wrapper_chat{
    width: 20%;
    border-left: 1px solid #778FB8;
}

.details_container_third_wrapper{
    text-align: center;
}

.tile_dropdown_wrapper__third{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.title_con___{
    font-size: 25px;
}

.dropdown_con___{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(111, 111, 111);
    padding: 9px 7px;
    border-radius: 50%  50% 50% 50%;
}

.drop_down_icon{
    width: 15px;
    height: 10px;
}

.shared_files_wrapper__third_sec_{
    border-bottom: 1px solid #778FB8;
    padding: 15px 0;
}


.third_section_wrapper_chat::after{
    border-radius: 0px 15px 15px 0px;
}

.search_chat{
    color: gray;
}


/*

sm: '2rem',
        `lg: '4rem',
        xl: '5rem',
        '2xl': '6rem',
        */
