@import url("./dashboard.css");

.game_option {
    display: flex;

    margin-top: 20px;
    color: white;
}

.game_option_content {
    display: flex;
    justify-content: space-around;
}

.game_option_content button {
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    border-radius: .2rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.paddle_picker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.paddle_picker button {
    border: none;
    width: 1rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    border-radius: .2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5em;
    background: transparent;
    font-size: 2em;
    color: white;
}

.paddle_info {
    border: 1px solid #778FB8;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    width: 9rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Coolvetica";
    padding: 1rem;
}

.paddle {
    width: 1rem;
    height: 100%;
    border-radius: .3rem;
    margin-top: 1rem;
}


.classic {
    background-color: white;
    animation: slideInFromLeft .5s;
}

.blossom {
    background-color: lightpink;
    animation: slideInFromLeft .5s;

}

.lightsaber {
    background-color: red;
    box-shadow: 0 0 10px 5px red;
    animation: slideInFromLeft .5s;

}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

.toast {
    position: fixed;
    display: block;
    top: 10%;
    right: 1%;
    background-color: #778FB8;
    color: white;
    font-family: "Coolvetica";
    width: 25rem;
    height: 5rem;
    font-size: 1.2rem;
    animation: slideInFromRight .5s ease-in-out;
}

.toast-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 100%;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

.timer-bar{
    width: 100%;
    height: .3rem;
    align-self: flex-end;
    justify-self: end;
    place-self: end;
}

@keyframes timer {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.modal{
    /* display: none; */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content{
    background-color: #778FB8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    font-family: "Coolvetica";
}

.matchdata{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    backdrop-filter: blur(1rem);
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
}

.matchdata.win{
    background-color: rgba(27, 167, 64, 0.25);
}

.matchdata.lose{
    background-color: rgba(167, 27, 27, 0.25);
}

.matchdata h1{
    font-size: 2em;
    color: white;
    font-family: "Coolvetica";
}

.matchdata .player{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.matchdata .player img{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.user_stats{
    padding: 1rem 0;
    background-color: rgba(27, 167, 160, 0.05);
    backdrop-filter: blur(1rem);
    width: 100%;
    height: 100%;
}

.win_rate{
    display: flex;
    justify-content: space-between;
    background-color: #085E6D;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 10rem;
    color: white;
    min-height: 5rem;
}


.win_rate>div{
    display: flex;
    flex-direction: column;
}
.stat_type .stat_label{
    font-size: 1.25rem;
}
.stat_label{
    font-size: 1.25rem;
}
.stat_value{
    font-size: 2rem;
    font-weight: 500;
}
.stat_subtext{
    font-size: 1rem;

}

.stat_type .stat_subtext{
    font-size: 1.5rem;

}

.extra_stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    margin-top: -1rem;
}

.stat_type{
    color: white;
    display: grid;
    font-family: "Coolvetica";
    background-color: rgba(27, 167, 160);
    padding: 1rem;
    width: 100%;
}

.steps {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: end;
    color: white;
    width: 40rem;
    margin-bottom: -2rem;
}

.step {
    text-align: start;
    width: 4rem; /* Added width to center the steps */
}

.graph {
    padding: 2rem;
    display: flex;
    gap: 0;
    width: 100%;
    font-size: 1.5rem;
}

.graph ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    color: white;
    border-right: 1px solid white;
    width: max-content;
    padding: 0; /* Removed padding to align the text */
    margin: 0; /* Removed margin to align the text */
}

.graph ol li {
    position: relative;
    /* width: 100%; */
    height: 2rem;
    display: flex;
    justify-content: space-between;

}

#stat {
    margin-left: 0; /* Changed margin to 0 to align text properly */
    padding-left: 0.5rem; /* Added padding for better spacing */
}

#progress{
    position: absolute;
    left: 101%;
    height: 100%;
    background-color: #085E6D;
}
