@font-face {
    font-family: "Coolvetica";
    src: url("../assets/fonts/coolvetica\ rg.otf");
}

@font-face {
    font-family: "Actor";
    src: url("../assets/fonts/Actor-Regular.ttf");
}

h1{
    color: white;
    font-family: "Coolvetica";
    font-size: larger;
    font-weight: normal;
}

.dashboard_wrapper{
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        'profile rank'
        'game friends';
    grid-gap: 1rem;
    height: 100%;
    animation: fadein .5s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.game_n_friends,
.profile_n_rank{

    display: flex;
    gap: 50px;
    /* width: 100%;
    height: 100%; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* align-items: center; */

}
.profile{
    grid-area: profile;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border: 0.6px solid #778FB8;
    background-color: rgba(27, 167, 160, 0.05);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
}

.game_wrapper {
    grid-area: game;
    margin-top: 1rem;
    border: 0.6px solid #778FB8;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    background: url("/public/assets/pong_animation.gif") no-repeat center center / cover;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}



.online_friend{
    grid-area: friends;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border: 0.6px solid #778FB8;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(27, 167, 160, 0.05);

}

.rank{
    grid-area: rank;
    display: flex;
    align-items: center;
    border: 0.6px solid #778FB8;
    border-radius: 1rem;
    background-color: rgba(27, 167, 160, 0.05);

    backdrop-filter: blur(1rem);
}

/* .profile_img{

} */

.profile_img img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.game_button#local{
    background-color: #FFA500;
}
.game_button#local:hover{
    background-color: #a95f05;
    filter: drop-shadow(rgba(2,115,94,0.3) 0px 5px 5px);
}

.game_button{
    color: white;
    text-decoration: none;
    width: 20rem;
    height: 15rem;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius:1ren;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    filter: drop-shadow(rgba(2,115,94,0.3) 0px 5px 5px);
    transition: ease-in-out .5s;
}

.game_button#online{
    background-color: #04BF8A;
}
.game_button#online:hover{
    background-color: #047e5c;
    filter: drop-shadow(rgba(2,115,94,0.3) 0px 5px 5px);
}


#login{
    font-family: "Actor";
    color: rgba(149, 149, 149, 0.36);
    font-size: 1em;
    margin-top: -.5rem;
}

#user_name{
    color: #04BF8A;
    font-family: "Coolvetica";
    font-size: 3em;
    font-weight: 100;
    margin-left: -1rem;
}

.profile_info{
    width: 80%;
    /* height: 100%; */
}

#user_coins{
    color: white;
    font-family: "Actor";
    font-weight: 100;
}


.achievement h1{
    font-family: "Actor";
    font-size: 1.5em;
}
.achievement{
    /* width: 100%; */
    text-align: center;
    display: grid;
    /* justify-content: center; */
    align-items: center;
}


.level-bar{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #075F49;
    width: 100%;
    height: 1rem;
    gap: 1rem;
    border-radius: 1rem;
}

.level-bar span{
    background-color: #04D98B;
    height: 1rem;
    border-radius: 1rem;
}

.level{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Actor";
    font-weight: 100;
}
