@font-face {
    font-family: "Coolvetica";
    src: url("../assets/fonts/coolvetica rg.otf") format("opentype");
}

@font-face {
    font-family: "Actor";
    src: url("../assets/fonts/Actor-Regular.ttf") format("truetype");
}
h1{
    color: white;
    font-family: "Coolvetica";
    font-size: larger;
    font-weight: normal;
}

.dashboard_wrapper{
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        'profile rank'
        'game friends';
    grid-gap: 1rem;
    height: 100%;
    animation: fadein .5s ease-in-out;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.game_n_friends,
.profile_n_rank{

    display: flex;
    gap: 50px;
    /* width: 100%;
    height: 100%; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* align-items: center; */

}
.profile{
    grid-area: profile;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border: 0.6px solid #778FB8;
    background-color: rgba(27, 167, 160, 0.05);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
}

.game_wrapper {
    position: relative;
    overflow: hidden;
    grid-area: game;
    margin-top: 1rem;
    border: 0.6px solid #778FB8;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.game_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/public/assets/pong2.webp") no-repeat center center / cover;
    object-fit: cover;
    filter: blur(5px);  
    z-index: -1;
}



.online_friend{
    grid-area: friends;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border: 0.6px solid #778FB8;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(27, 167, 160, 0.05);

}

.rank{
    grid-area: rank;
    display: flex;
    align-items: center;
    border: 0.6px solid #778FB8;
    border-radius: 1rem;
    background-color: rgba(27, 167, 160, 0.05);

    backdrop-filter: blur(1rem);
}

/* .profile_img{

} */

.profile_img img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.game_button#local{
    background-color: #0d7ea8;
}
.game_button#local:hover{
    background-color: #0ad6ff;
    filter: drop-shadow(rgba(2,115,94,0.3) 0px 5px 5px);
    transform: scale(1.1);
    translate: ease-in-out .5s;
}

.game_button{
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 1.8rem;
    border-radius:1ren;
    cursor: pointer;
    border-radius: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 5px 5px);
    transition: ease-in-out .5s;
}

.game_button#online{
    background-color: #770886;
}
.game_button#online:hover{
    background-color: #b80fc7;
    filter: drop-shadow(rgba(7, 9, 9, 0.3) 0px 5px 5px);
    transform: scale(1.1);
    translate: ease-in-out .5s;
}


#login{
    font-family: "Actor";
    color: rgba(149, 149, 149, 0.36);
    font-size: 1em;
}

#user_name{
    color: #cd10cd;
    font-family: "Coolvetica";
    font-size: 2em;
    font-weight: 100;
    margin-left: -1rem;
}

.profile_info{
    width: 80%;
    /* height: 100%; */
}

#user_coins{
    color: white;
    font-family: "Actor";
    font-weight: 100;
}


.achievement h1{
    font-family: "Actor";
    font-size: 1.5em;
}
.achievement{
    /* width: 100%; */
    text-align: center;
    display: grid;
    /* justify-content: center; */
    align-items: center;
}


.level-bar{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #0faade;
    width: 100%;
    height: 10px;
    gap: 1rem;
    border-radius: 1rem;
}

.level-bar span{
    background-color: #04D98B;
    height: 1rem;
    border-radius: 1rem;
}

.level{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Actor";
    font-size: 12px;
    font-weight: 100;
    margin: 5px 0;
}



@media screen and (min-width: 1250px)
{
    .av_img{
        height: 80px!important;
        width: 80px!important;
    }
}

.profile{
    height: 100%;
    padding: 35px;
}

.profile_info{
    height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name_n_login
{
    display: flex;
  flex-direction: column;
  align-items: baseline;
}

.wrapper_info_profile
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.hidden {
    display: none;
}

.visible {
    display: block;
}

.msg-prompt {
    position: absolute;
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/bg_img.png");
    display: none;
}

.msg-prompt.visible {
    display: flex;
}

.wrapper_modal{
    position: relative;
}

.msg-prompt_sub2{
    position: relative;
}

.send_btn_modal{
    position: absolute;
    background: none!important;
    left: 87%;
    top: 50%;
    transform: translateY(-50%);
}

.message-input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 15px;
    border: none;
    background-color: #778FB8;
    outline: none;
}
.close-btn {
    position: absolute;
    right: 5px;
    top: 0px;
    transform: translateY(-50%);
    background: none;
  border: none;
}