@import url("./dashboard.css");

.game_page{
    /* background: rgba(27, 167, 160, 0.05); */
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    height: 85vh;
    width: 100%;
    border: 1px solid #778FB8;
    display: grid;
    justify-content: center;
    align-items: center;
}

.game_page h1{
    font-family: "Actor";
}

.players_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.player1, .player2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1em;
}

#player_1_input,#player_2_input{
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    background: rgba(119, 143, 184, 0.2);
    padding: .5rem;
    font-size: 1em;
    border: 1px solid #778FB8;
    backdrop-filter: blur(1rem);
    color: white;
}

#roles{
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: 100;
}

#player_1_input,#player_2_input:focus{
    outline: none;
}

.game_theme button{
    border: none;
    width: 20rem;
    height: 12rem;
    border-radius: .5rem;
    font-size: 1.5em;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.game_theme{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game_theme h1{
    font-size: x-large;
    font-weight: 100;

}

#classic{
    background-image: url("../assets/game_theme/classic.png");
}

#mod{
    background-image: url("../assets/game_theme/mod.png");
}

#sky{
    background-image: url("../assets/game_theme/sky.png");
}

.themes{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.selected_theme{
    /* width: 23rem!important;
    height: 15rem!important; */
    border: 1px solid #017ba4!important;
}

.game_start{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start_ev{
    text-decoration: none;
    color: black;
    background-color: #04BF8A;
    width: 15rem;
    height: 5rem;
    font-size: 2em;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #778FB8;
    font-family: "Actor";
    font-weight: 100;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#start_ev:disabled{
    font-family: "Actor";
    font-weight: 100;
    background-color: #037655;
    border: none;
    color: white;
    cursor: not-allowed;
}

#start_ev:enabled:hover{
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
    background-color: #04BF8A;
    color: white;
}

.start_game{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ready_button{
    width: 8rem;
    height: 2.5rem;
    font-size: 1.5em;
    border-radius: .5rem;
    font-family: "Actor";
    border: none;
    cursor: pointer;
    
}

#p1_ready{
    background-color: #00BFFF;
    box-shadow: 5px 5px 0px #017ba4;
    color: white;
    transition: all 0.3s ease-in-out;
}

#p2_ready{
    background-color: #FFA500;
    box-shadow: 5px 5px 0px #976201;
    color: white;
    transition: all 0.3s ease-in-out;
}

#p1_ready:hover{
    background-color: #017ba4;
    box-shadow: none;
}

#p2_ready:hover{
    background-color: #976201;
    box-shadow: none;
}

.active#p1_ready{
    background-color: #017ba4;
    box-shadow: none;
}

.active#p2_ready{
    background-color: #976201;
    box-shadow: none;
}

