@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

body {
    padding: 0;
    margin: 0;
}

.lets-start-div{
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100vw;
    overflow: hidden; */
    /* height: 100%;
    width: 100%; */
}

.welcome-text {
    color: white;
    font-family: jolly lodger;
    text-align: center;
    font-size: 5em;
}

.lets-start-btn {
    background-color: #04BF8A;
    color: black;
    border: none;
    font-family: jolly lodger;
    letter-spacing: 2.5px;
    padding: 5px 10px;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

.lets-start-btn:hover{
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
    background-color: #04BF8A;
    color: white;
    cursor: pointer;
}
.signin-singup-div{
    background-image: url(../images/bg_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 167, 160, 5%);
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    width: 646px;
    height: 815px;
    border-radius: 30px;
    border: solid 0.6px #b072d29f;
    background-clip:border-box;
    backdrop-filter: blur(15px);
}


.container .container_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sign_in_up label {
    font-size: 30px;
    color: white;
    font-family: jolly lodger;
    letter-spacing: 2.5px;
    margin: 30px 0 10px;
    width: 559px;
}

.sign_in_up  input{
    width: 559px;
    height: 60px;
    border: solid 2px #04bf8a48;
    border-radius: 15px;
    font-size: 20px;
    color:  white;
    text-indent: 20px;
    /* filter: opacity(0.1); */
    background: transparent;

}

.signUpButton {
    background-color: #04BF8A;
    background-attachment: fixed;
    color: black;
    border: none;
    border-radius: 20px;
    font-family: jolly lodger;
    letter-spacing: 2.5px;
    width: 368px;
    height: 50px;
    padding: 10px 0px 5px 0px;
    margin-top: 50px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

.signUpButton:hover {
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
    background-color: #04BF8A;
    color: white;
    cursor: pointer;
}

.signInButton {
    background-color: #04BF8A;
    background-attachment: fixed;
    opacity: 1;
    color: black;
    border: none;
    border-radius: 20px;
    font-family: jolly lodger;
    letter-spacing: 2.5px;
    width: 368px;
    height: 50px;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
}

.signInButton:hover {
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
    background-color: #04BF8A;
    color: white;
    cursor: pointer;
}

.sign_in_up  p {
    color: white;
    font-family: jolly lodger;
    font-size: 20px;
    margin-top: 25px;
    letter-spacing: 1.5px;
}

.signUpLink {
    color: rgb(216, 182, 29);
    font-family: jolly lodger;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.signUpLink:hover {
    color: white;
}

.signInLink {
    color: rgb(216, 182, 29);
    font-family: jolly lodger;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.signInLink:hover {
    color: white;
}


.intra_logo {
    vertical-align: text-top;
    width: 64px;
    height: 50px;
    transform: translateY(-8px);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .sign_in_up label, .sign_in_up  input {
        width: 90%;
    }

    .signUpButton {
        width: 80%;
    }
    .signInButton {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    .sign_in_up label {
        font-size: 20px;
    }

    .sign_in_up  input {
        height: 40px;
        font-size: 16px;
    }

    .signUpButton {
        height: 40px;
        font-size: 24px;
    }
    .signInButton {
        height: 40px;
        font-size: 24px;
    }
}

.sign_in_up{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
