.matchmaking{
	display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar img{
	width: 150px;
    height: 150px;
    border-radius: 50%;
	margin-bottom: 10px;
    position: relative;
}

.vsPng {
    width: 100px;
    height: 100px;
    background-image: url('/public/assets/VS.png');
    background-size: cover;
    background-position: center;
}

.playerStats {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: white;
}
