@media only screen and (max-width: 768px) {
    body {
        background-size: 100vw 100vh;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.right_sidebar_wrapper {
    position: relative;
    border: 0.6px solid #778FB8;
    width: fit-content;
    border-radius: 15px;
    color: #fff;
    backdrop-filter: blur(5px);
    background-color: rgba(27, 167, 160, 0.05);
    height: fit-content;
    /* flex: 4; */
}

/* .right_sidebar_wrapper {
    border: 0.6px solid #778FB8;
    border-radius: 15px;
} */

.content_wrapper {
    background-color: rgba(27, 167, 160, 0.05);
    backdrop-filter: blur(10px);

}

.content_ {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 2rem;

}

.account_settings_wrapper {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(27, 167, 160, 0.05); */
    justify-content: space-between;
    height: 60%;
    padding: 10%;
    min-width: 300px;
    height: 89.4vh !important;

}

.account_settings_wrapper .delete-account p {
    font-size: 16px;
    color: rgb(255, 0, 0, 0.5);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.account_settings_wrapper .delete-account p:hover {

    /* display: inline-block; */
    background-color: rgb(255, 0, 0);
    color: black;
    /* text-shadow: 0 0 10px white; */

}

.account_settings_wrapper ul {
    list-style-type: none;
    padding: 0;
}

.account_settings_wrapper ul li a {
    color: #ffffff;
    text-decoration: none;

}

.settings_menu li {
    margin: 10px 0;
}

.settings_title {
    font-size: 20px;
    font-family: 'actor';
}

.settings_menu li p {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    transition: background-color 0.3s ease;
    border-radius: 3rem;
    cursor: pointer;
}

.settings_menu li p:hover {
    background-color: rgb(4, 217, 139, 0.18);
}


.profile-container {
    /* filter: blur(0.23px) saturate(0.5); */
    backdrop-filter: blur(10px);
    position: relative;
    height: fit-content;
    border: 0.6px solid #778FB8;
    border-radius: 15px;
    display: flex;
    flex: 10;
    flex-direction: column;
    min-width: max-content;
    padding: 0 15px;
    margin: 0 10px;
    flex-grow: 1;
    /* height: 89.4vh !important; */

}

.profile_title {
    font-size: 13px;
    /* flex: 3; */
    padding: 15px;
    color: #fff;
}

.settings_profile {
    top: 0;
    padding: 0;
    position: fixed;
    position: relative;
    /* width: 67vw; */
    height: 150px;
    display: flex;
    /* justify-content: space-evenlys; */
    /* flex: 1; */
    box-sizing: border-box;
    align-items: center;
    color: #fff;
    border: 0.6px solid #778FB8;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

.profile-picture {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    object-fit: cover;
    margin-right: 10px;
}

.profile_info .name {
    font-size: 15px;
}

.profile_info .username {
    font-size: 18px;
    color: rgb(152, 152, 152, 0.5);
    display: block;
    padding-left: 5px;
}

.button_edit {
    background-color: #04BF8A;
    position: relative;
    font-size: 13px;
    width: 130px;
    height: 50px;
    border-radius: 30px;
    margin-left: 550px;
    font-family: 'Coolvetica';
}



.infos_container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: s; */
    /* flex: auto; */
    color: #fff;
    height: fit-content;
    min-width: 400px;
    box-sizing: border-box;
    border: 0.6px solid #778FB8;
    border-radius: 15px;
    margin: 10px;
}

.infos {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vh 10vw;
    min-width: max-content;

}

.infos span {
    font-size: 15px;
    padding: 20px;
}

.infos_bar {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infos_bar p {
    font-size: 17px;
}


.infos label {
    color: rgb(152, 152, 152, 0.5);
    display: block;
    margin-bottom: 3px;
}

.button_save {
    background-color: #04BF8A;
    font-size: 14px;
    align-content: center;
    /* position: absolute; */
    bottom: 100px;
    right: 100px;
    width: fit-content;
    border-radius: 40px;
    font-weight: bold;
    padding: 15px 25px;
}


button img {
    margin-left: 10px;
    height: 21px;
}

/* button {
    border-color: green;
    align-items: center;
    cursor: pointer;
} */

.security-container {
    top: 0;
    padding: 0;
    position: fixed;
    position: relative;
    width: 67vw;
    /* height: 90vh; */
    display: flex;
    box-sizing: border-box;
    color: #fff;
    border: 0.6px solid #778FB8;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

.security-container p {
    font-size: 20px;
    padding: 50px;
}

.notifications-container {
    top: 0;
    padding: 0;
    position: fixed;
    position: relative;
    width: 67vw;
    /* height: 90vh; */
    display: flex;
    box-sizing: border-box;
    color: #fff;
    border: 0.6px solid #778FB8;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

.notifications-container p {
    font-size: 20px;
    padding: 50px;
}

.content-item {
    display: none;
}

.content-item.active {
    display: block;
}

.setting_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: lighter;
    font-family: 'actor';
}

@keyframes fadin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.input_disabled_edit {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
}

.input_enabled_edit {
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: #282f54;
    /* border: 0.6px solid black; */
    color: white;
    padding: 5px 10px;
    outline: none;
    box-shadow: 0.55px 0.55px 0.55px 1px black;
}

.save_wrapper_btn {
    display: block;
    text-align: end;
}

.item-2 {
    flex-direction: column-reverse;
}


.notification_icon {
    width: 30px !important;
}

i::before {
    font-size: 25px !important;
}

/* .infos_wrapper{
    text-align: center;
} */

.setting_wrapper_ {
    display: flex;
    height: 100%;
    animation: fadin .5s ease-in-out;

}

.view_blocked_users {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 3rem;
    background-color: #5909b0;
    box-shadow: 3px 3px 0px rgb(146, 7, 252);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.view_blocked_users:hover {
    background-color: rgb(81, 50, 153);
    box-shadow: none;
}

.blocked_users_list {
    display: flex;
    align-items: end;
    gap: 10rem;
}

.infos_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_wrapper {
    width: fit-content;
}

.img_wrapper>img {
    width: 130px;
    border-radius: 10px;
}

.img_wrapper {
    position: relative;
}

.fa-edit {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
}

.fa-edit:hover {
    color: black;
}

.bold_txt {
    font-weight: bold;
}

* {
    font-family: "Poppins", sans-serif;
}

.under_txt {
    font-size: 12px;
    color: #919191;
}

.link_wrapper_settings>i {
    /* color: white; */
    color: #919191;
}

.left_side_settings_wrapper {
    width: 30%;
    /* height: 88vh; */
    display: flex;
    flex-direction: column;
}

.infos_details_wrapper {
    text-align: center;
}

.link_wrapper_settings {
    padding: 15px;
}

.txt___sett {
    /* font-weight: bold; */
    font-size: 1rem;
    padding: 0 25px;
    color: #919191;
}

.link_wrapper_settings {
    display: flex;
    align-items: center;
}

.link_wrapper_settings:hover {
    background-color: #7f6aa4;
        cursor: pointer;
}

.link_wrapper_settings:hover>.txt___sett,
.link_wrapper_settings:hover>i {
    color: white;
}


.left_side_settings_wrapper {
    position: relative;
    border: 0.6px solid #778FB8;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(27, 167, 160, 0.05);
    justify-content: space-around;
}

.infos_wrapper {
    padding: 15px;
}

.links_wrapper_swapper {
    flex: 0.8;
}

.input_settings_wrapper>input {
    width: 450px;
    height: 35px;
    border-radius: 3px;
    color: white;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 0 15px;
    outline: none;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}

.info_h {
    font-size: 1.5rem;
    color: white;
    padding: 10px 0;
}

.info_p {
    font-size: 1rem;
    color: #919191;
}

.label_txt {
    color: #919191;
    font-size: 14px;
    padding: 10px 0;
}

.buttons_wrapper {
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.submit_infos {
    background-color: #761cba;
    box-shadow: 3px 3px 0px rgb(98, 17, 125);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1rem;
    width: 8rem;
    height: 3rem;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.submit_infos:hover {
    background-color: rgb(86, 15, 117);
    box-shadow: none;
}

.cancel_btn>button {
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    margin: 0 0 0 10px;
}

.right_side_settings_wrapper {
    position: relative;
    border: 0.6px solid #778FB8;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(27, 167, 160, 0.05);
    justify-content: space-around;
    margin: 0 20px;
    width: 90%;
}

.marg_wrapper {
    padding: 20px 50px;
}

/* .form_settings_wrapper_one{
    height: 500px;
} */
.form_settings_wrapper_one
{
    height: 500px;
}


.enable_2fa
,.disable_2fa{
    background-color: #761cba;
    padding: 15px 15px;
    font-size: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px 0;
    font-weight: bold;
}

.enable_2fa:hover
,.disable_2fa:hover{
    background-color: rgb(86, 15, 117);
}
.setting_h {
    font-size: 2rem;
    color: white;
    padding: 10px 0;
}

.input_settings_wrapper {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
    /* justify-content: space-evenly; */
}

.form_settings_wrapper_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* .setting_wrapper_{
    padding: 5% 150px 0 150px;
} */

.sidebar_wrapper {
    height: 100%;
}

.active_btn_settings {
    background-color: #7f6aa4;
    color: white;
}

.active_btn_settings>.fa,
.active_btn_settings>.txt___sett {
    color: white;
}

.players_info_ {
    padding: 35px 0;
}

.setting_1>div>h1 {
    font-size: 13px !important;
}

.setting_3 {
    padding: 25px 0;
}

#start_btn {
    background-color: #7c39b6;
    color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start_btn:hover {
    background-color: #33095c;
}

.bold_txt_white {
    padding: 10px 0;
    font-size: 16px;
    color: white;
}

.st {
    width: 260px !important;
    height: 160px !important;
}

.start_game_ {
    padding: 50px 0;
    text-align: center;
}

.body_wrapper{
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 2000px) {
    .body_wrapper
    {
        max-width: 1500px;
        padding: 15rem 0;
    }
    .pfp_logo{
        width: 80px;
    }
    .first_section_wrapper_chat{
        width: 30%;
    }
}

.d-none{
    display: none;
}