@font-face {
    font-family: "Coolvetica";
    src: url("../assets/fonts/coolvetica\ rg.otf");
}

h1{
    color: white;
    font-family: "Coolvetica";
    font-size: larger;
    font-weight: normal;
}

.dashboard_wrapper{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.game_n_friends,
.profile_n_rank{
    
    display: flex;
    gap: 50px;
    justify-content: space-around;
    /* justify-content: center; */
    /* align-items: center; */

}
.profile{
    height: 300px;
    width: 1100px;
    display: flex;
    align-items: center;
    border: 1px solid #778FB8;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.rank{
    width: 500px;
    display: flex;
    align-items: center;
    border: 1px solid #778FB8;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.profile_img{
    height: 100%;
    width: 50%;
    clip-path: polygon(0 0, 54% 0, 100% 100%, 0% 100%);
}

.profile_img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}


.game_wrapper{
    width: 1100px;
    height: 450px;
    position: relative;
    /* margin: 25px; */
    margin-top: 10px;
    border: 1px solid #778FB8;
    border-radius: 10px;
    backdrop-filter: blur(10px);

}

.game_video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: opacity(0.5);
}

.game_wrapper button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 150px;
    font-size: larger;
    font-weight: bold;
    height: 50px;
    background-color: #04BF8A;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    filter: drop-shadow(rgba(2,115,94,0.3) 0px 5px 5px);
    transition: ease-in-out .5s;
}

.game_wrapper button:hover{
    background-color: #047e5c;
    filter: drop-shadow(rgba(2,115,94,0.3) 0px 5px 5px);
}

.online_friend{
    display: flex;
    align-items: center;
    margin-top: 10px;

    /* margin: 25px; */
    width: 500px;
    height: 450px;
    border: 1px solid #778FB8;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

#login{
    font-family: "Coolvetica";
    color: rgba(149, 149, 149, 0.36);
}

#user_name{
    color: #04BF8A;
    font-family: "Coolvetica";
}

.profile_info{
    width: 100%;
}